.atlasContent {
  width: min(95%, 1216px);
  margin: auto;
  padding: 16px;
}

.atlasContent img {
  width: 80%;
}

.atlasContent p a,
.atlasContent a {
  color: revert;
}

.atlasContent table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.atlasContent thead tr {
  background-color: #95bde6;
  text-align: left;
}

.atlasContent th,
.atlasContent td {
  padding: 2px 5px;
}
