.atlasContent {
  width: min(90%, 60rem);
  margin: auto;
}

.atlasContent img {
  width: 80%;
}

.atlasContent p a {
  color: revert;
  text-decoration: revert;
}

.atlasContent table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.atlasContent thead tr {
  background-color: #95bde6;
  text-align: left;
}

.atlasContent th,
.atlasContent td {
  padding: 2px 5px;
}
