.resultBoxWrapper {
  border-radius: 10px;
  padding: 30px 0px 20px 0px;
}

.resultBoxTitleWrapper {
  padding: 30px 20px 30px 20px;
  text-align: left;
}

.resultBoxSelectionContent {
  width: 98%;
  padding: 30px 20px 30px 20px;
  text-align: left;
}
