.atlasContent {
  margin: auto;
  display: flex;
}

.atlasContent img {
  width: 80%;
}

.atlasContent p a {
  color: revert;
  text-decoration: revert;
}


@media screen and (min-width: 943px) {
  .atlasContent {
    width: min(95%, 1216px);
    margin: auto;
    padding: 16px;
    display: flex;
    max-width: 1216px; 
  }
  .main_content{
    flex: 1 1 auto;
    width: 0px;
  }
}

@media screen and (min-width: 0) and (max-width: 942px) {
  .main_content {
    width: 95%;
    margin: auto;
    padding: 16px;
  }
  .atlasContent {
    flex-direction: column;
  }
}
