.footerContainer {
  background-color: #22282b;
  text-align: center;
  color: #fff;
}

.footerContent {
  display: flex;
  flex-direction: column;
  max-width: min(1216px, 95%);
  height: fit-content;
  padding: 5rem 0;
  margin: auto;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  margin-top: 3rem;
}
