.bulletscontainer {
  display: flex;
  list-style: none;
  align-self: center;
  padding: 0;
}

.bulletcontainer {
  margin: inherit;
}

.bullet {
  background: none;
  outline: unset;
  border: 2px solid black;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
  transition: ease-out 200ms;
}
.bullet:hover,
.bullet:focus {
  background: lightblue;
  border: 2px solid black;
}

.active {
  background-color: #00263d;
  border: 2px solid black;
}
.active:hover,
.active:focus {
  background-color: #00263d;
  border: 2px solid #00253d;
}
