.atlasTopBanner {
  width: 100vw;
  display: flex;
  align-items: center;
}

.bannerWrapper {
  width: min(90%, 60rem);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightbanner {
  justify-content: space-between;
  display: flex;
}

.map_button {
  padding-left: 2ex;
}
