.atlasTopBanner {
  width: 100vw;
  display: flex;
  align-items: center;
}

.bannerWrapper {
  width: min(90%, 60rem);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrum {
  height: 46px;
  font-family: Open Sans;
}

.heading {
  padding-left: 220px;
}
